   
   <div class="features_section">
     <div class="content-conteiner">
       <div class="container-fluid">
         <div class="row">
           <div class="features_section_top">
            <div class="features_section_top_title">
               <p class="center_title">FEATURES</p>
            </div>
             <div class="features_section_top_heart">
                <p class="Line"></p><span class="glyphicon glyphicon-heart-empty"></span><p class="Line"></p>
             </div>
           </div>
           <div class="features_section_bottom">
             <ul class="features_section_bottom_list">
                <div class="row">
                  <li class="features_section_bottom_item col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="media">
                      <div class="media-left media-top">
                        <a href="#">
                          <img class="media-object" src="madia/feather.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Branding</h4>
                        <p class="">Sed ut perspiciatis unde omnis iste natus 
                          error sit voluptatem accusantium doloremque 
                          laudantium, totam rem aperiam, eaque ipsa quae 
                          ab illo inventore
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="features_section_bottom_item col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="media">
                      <div class="media-left media-top">
                        <a href="#">
                          <img class="media-object" src="madia/pencil.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Development</h4>
                        <p class="">Sed ut perspiciatis unde omnis iste natus 
                          error sit voluptatem accusantium doloremque 
                          laudantium, totam rem aperiam, eaque ipsa quae 
                          ab illo inventore
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="features_section_bottom_item col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="media">
                      <div class="media-left media-top">
                        <a href="#">
                          <img class="media-object" src="madia/megaphone.png" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Consulting</h4>
                        <p class="">Sed ut perspiciatis unde omnis iste natus 
                          error sit voluptatem accusantium doloremque 
                          laudantium, totam rem aperiam, eaque ipsa quae 
                            ab illo inventore
                        </p>
                      </div>
                    </div>
                  </li>
                  
                 </div>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
