<div class="container-fluid">
    <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    </div>

    <div align="center">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="hdpe">Branding</button>
        <button class="btn btn-default filter-button" data-filter="sprinkle">Web</button>
        <button class="btn btn-default filter-button" data-filter="spray">Logo Design</button>
        <button class="btn btn-default filter-button" data-filter="irrigation">Photography</button>
    </div>
    <br/>



        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter hdpe">
            <img src="/madia/Rectangle 5.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter sprinkle">
            <img src="/madia/Rectangle 5 copy.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter hdpe">
            <img src="/madia/Rectangle 5 copy 2.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter irrigation">
            <img src="/madia/Rectangle 3.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter spray">
            <img src="/madia/Rectangle 5 copy 3.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter irrigation">
            <img src="/madia/Rectangle 5 copy 321.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter spray">
            <img src="/madia/Rectangle 5 copy 3211.png" class="img-responsive">
        </div>

        <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-12 filter irrigation">
            <img src="/madia/Rectangle 5 copy 411.png" class="img-responsive">
        </div>
        
    </div>
</div>