   
    <div class="header back_img">
      <div class="top_line"> 
        <div class="content-conteiner">
          <div class="container-fluid">
            <div class="row">
              <div class="top_header">
                <div class="row-fluid">
                  <div class="header_nav vcenter">
                    <div class="header_nav_left vcenter col-lg-5 col-md-5 col-sm-12 col-xs-12">
                      <div class="logo">
                        <img src="/madia/Brandi.png" alt="">
                      </div>
                      <div class="tag_line">
                        <input type="text" placeholder="I'am your tag line" class="tag_line_input ">
                      </div>
                    </div>
                    <div class="header_nav_right  vcenter col-lg-7 col-md-7 col-sm-12 col-xs-12">
                      <ul class="menu_list vcenter">
                        <li class="menu_item">
                          <a href="">Home</a>
                        </li>
                        <li class="menu_item">
                          <a href="">Features</a>
                        </li>
                        <li class="menu_item">
                          <a href="">Works</a>
                        </li>
                        <li class="menu_item">
                          <a href="">Team</a>
                        </li>
                        <li class="menu_item">
                          <a href="">Contact</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center_line">
        <div class="container-fluid">
          <div class="row">
            <div class="center_line_top col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>Meet <b>Brandi</b>!</p>
            </div>
            <div class="center_line_center col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p><span class="creative">/creative</span> one page template.</p>
            </div>
            <div class="center_line_bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p><span class="creative">---</span>  We are a team of professionals <span class="creative">---</span></p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="bottom_line ">
        <ul class="social_list">
          <li class="social_item">
            <img src="/madia/twitter.png" alt="Twiter">
          </li>
          <li class="social_item">
              <img src="/madia/facebook.png" alt="FaceBook">
          </li>
          <li class="social_item">
              <img src="/madia/google+.png" alt="Google">
          </li>
          <li class="social_item">
              <img src="/madia/dribbble.png" alt="Dribbble">
          </li>
        </ul>
      </div>
    </div>     


