<div class="work_section">
  <div class="work_section_top">
    <div class="content-conteiner">
      <div class="container-fluid">
        <div class="row">
          <div class="features_section_top_title">
            <p class="center_title">WORKS</p>
          </div>
          <div class="features_section_top_heart">
            <p class="Line"></p><span class="glyphicon glyphicon-heart-empty"></span><p class="Line"></p>
          </div>
          <p class="work_section_top_desc">
            Sed ut perspiciatis unde omnis iste natus 
            error sit voluptatem accusantium doloremque 
            laudantium, totam rem aperiam, eaque ipsa quae 
            ab illo inventore
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="work_section_bottom">
    <!--@@include=gallary.html-->
  </div>
</div>